[submodule "terminalTimer"]
	path = terminalTimer
	url = https://github.com/calebheide/terminalTimer
[submodule "autoGitCommit"]
	path = autoGitCommit
	url = https://github.com/calebheide/autoGitCommit
[submodule "terminalColorConvert"]
	path = terminalColorConvert
	url = https://github.com/calebheide/terminalColorConvert
[submodule "clibattery"]
	path = clibattery
	url = https://github.com/calebheide/clibattery
[submodule "cliCalculator"]
	path = cliCalculator
	url = https://github.com/calebheide/cliCalculator
[submodule "darkmode"]
	path = darkmode
	url = https://github.com/calebheide/darkmode
[submodule "menubarMessage"]
	path = menubarMessage
	url = https://github.com/calebheide/menubarMessage
[submodule "lsCpp"]
	path = lsCpp
	url = https://github.com/calebheide/lsCpp.git
