[submodule "terminalTimer"]
	path = terminalTimer
	url = https://github.com/calebheide/terminalTimer
[submodule "autoGitCommit"]
	path = autoGitCommit
	url = https://github.com/calebheide/autoGitCommit
[submodule "terminalColorConvert"]
	path = terminalColorConvert
	url = https://github.com/calebheide/terminalColorConvert
[submodule "clibattery"]
	path = clibattery
	url = https://github.com/calebheide/clibattery
[submodule "cliCalculator"]
	path = cliCalculator
	url = https://github.com/calebheide/cliCalculator
